@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Who I Am</h1>

<p>Hello, my name is Diego Carmona. I am a 21 year old full-end developer in training. I am currently studying to complete my knowlegde and mastery over MVC and other programming methods. I enjoy reading, gaming, animals, and watching comedy. I am male, am 6 foot 3 inches tall, and weigh about 270 pounds. I stay up late studying and reading for fun, so I often wake up late. Lastly, I get frustrated when I am learning new things but find it pleasing to figure out how to make things work.</p>

