@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Things I do</h1>
<p>Hobbies (ordered list)</p>
<ol>
    <li>Reading</li>
    <li>Dungeons and Dragons (Tabletop Game)</li>
    <li>Video Games</li>
    <li>Exercise</li>
    <li>Studying</li>
</ol>